.page {
    background: white;
}
.main {
    width: 800px;
    height: 550px;
    margin: 0 auto;
    background: #f0de89;
    padding-top: 25px;
    border: 2px solid #d5b41b;
}
.room {
    width: 698px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    font-size: 18px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 2px solid #e9cf55;
    font-family: 'Roboto Slab', serif;
}
.variants {
    width: 700px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.variants li {
    list-style-type: none;
    margin-bottom: 10px;
}
.variant {
    padding: 10px;
    display: block;
    color: black;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    border: 2px solid #e9cf55;
}
.variant:hover {
    background: #ebd466;
}
.getback {
    font-family: 'Roboto Slab', serif;
    color: #c2a519;
    margin-left: 10px;

}